.pppppppoioo {
    background: #141221;
    color: #fd77d7;
    outline: 0 solid #fd77d7;
}
.kdkdk {
    background: #030613;
    color: #4fcdb9;
    outline: 0 solid #4fcdb9;
    background: #213c53;
}